@model List<AdminPanel.Models.EldahanItems>
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_adminPanel.cshtml";
}

<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
    <script type="text/javascript">
        try { ace.settings.loadState('sidebar') } catch (e) { }
    </script>
    <ul class="nav nav-list">

        <li class="">
            <li class="">
                <a href="@Url.Action("Tables", "Home")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Orders
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("Items", "Home")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Items
                </a>

                <b class="arrow"></b>
            </li>
                
            @if (!User.Identity.IsAuthenticated)
            {
                <li class="">
                    <a href="@Url.Action("Login", "Account")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Login
                    </a>

                    <b class="arrow"></b>
                </li>
            }
            
            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
                {
                    @Html.AntiForgeryToken()
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">
                            <i class="menu-icon fa fa-caret-right col-md-2"></i>
                            Log off
                        </a>
                        <b class="arrow"></b>   
                    </li>

                }
            }
        </li>
   
       
    </ul><!-- /.nav-list -->

</div>


<div class="main-content">
    <div class="main-content-inner">
      

        <div class="page-content">

            <div class="page-header">
                <h1>
                    Tables
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Items
                    </small>
                </h1>
            </div>
        </div>
        <!-- /.page-header -->
            <!-- main table my orders-->
            <!-- main table my orders-->
           
                    <!-- PAGE CONTENT BEGINS -->
                    <!-- main table my orders-->
                    <!-- main table my orders-->
                            <table id="simple-table-Items" class="table  table-bordered table-hover">
                                <thead>
                                    <tr>
                                        @*<th class="center">
                                            <label class="pos-rel">
                                                <input type="checkbox" class="ace" />
                                                <span class="lbl"></span>
                                            </label>
                                        </th>*@
                                        <th> Preset </th>
                                        <th> Name </th>
                                        <th> Arabic Name </th>
                                        <th > Price </th>
                                        <th > Listed </th>
                                        <th > Available </th>

                                    </tr>
                                </thead>

                                <tbody>
                                    @for (var i = 0; i < Model.Count; i++)
                                    {
                                        <tr>
                                            @*<td class="center">
                                                <label class="pos-rel">
                                                    <input type="checkbox" class="ace" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </td>*@

                                            <td>
                                                <div class="btn-group">
                                                    <button class="btn btn-xs btn-success">
                                                        <i class="ace-icon fa fa-check bigger-120"></i>
                                                    </button>

                                                    <button class="btn btn-xs btn-success">
                                                        <i class="ace-icon fa fa-check bigger-120"></i>
                                                    </button>

                                                    <button class="btn btn-xs btn-success">
                                                        <i class="ace-icon fa fa-check bigger-120"></i>
                                                    </button>

                                                    <button class="btn btn-xs btn-success">
                                                        <i class="ace-icon fa fa-check bigger-120"></i>
                                                    </button>

                                                    <button class="btn btn-xs btn-success">
                                                        <i class="ace-icon fa fa-check bigger-120"></i>
                                                    </button>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="btn-group">
                                                    <button class="btn btn-xs btn-success">
                                                        <i class="ace-icon fa fa-check bigger-120"></i>
                                                    </button>

                                                    <button class="btn btn-xs btn-success">
                                                        <i class="ace-icon fa fa-check bigger-120"></i>
                                                    </button>

                                                    <button class="btn btn-xs btn-success">
                                                        <i class="ace-icon fa fa-check bigger-120"></i>
                                                    </button>

                                                    <button class="btn btn-xs btn-success">
                                                        <i class="ace-icon fa fa-check bigger-120"></i>
                                                    </button>

                                                    <button class="btn btn-xs btn-success">
                                                        <i class="ace-icon fa fa-check bigger-120"></i>
                                                    </button>
                                                </div>
                                            </td>


                                        </tr>
                                      
                                    }

                                </tbody>
                            </table>
                    @*<div class="hr hr-18 dotted hr-double"></div>*@


                    <!-- PAGE CONTENT ENDS -->
        </div><!-- /.page-content -->
</div><!-- /.main-content -->
<!-- inline scripts related to this page -->
<script>
    $(document).ready(function () {
        
        ItemController.init();
       

    })
</script>