
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<title>@ViewBag.Title</title>

<!-- Section - Main -->
<section class="section section-main section-main-1 bg-light">

    <div class="container dark">
        <div class="slide-container">
            <div id="section-main-1-carousel-image" class="image inner-controls">
                <div class="slide"><div class="bg-image"><img src="../../Content/mytemplate/assets/img/photos/slider-grill.jpg" alt=""></div></div>
                <div class="slide"><div class="bg-image"><img src="../../Content/mytemplate/assets/img/photos/slider-sides.jpg" alt=""></div></div>
                <div class="slide"><div class="bg-image"><img src="../../Content/mytemplate/assets/img/photos/slider-dessert.jpg" alt=""></div></div>
            </div>
            <div class="content dark">
                <div id="section-main-1-carousel-content">
                    <div class="content-inner">
                        <h1 class="text-muted">Welcome  to El dahan</h1>
                        
                        <h4>Grill & Oriental Restaurant Since 1890</h4>
                        <h1 class="text-muted">مرحبا بكم فى الدهان</h1>
                        <h4>مشويات الدهان من عام 1890</h4>
                        <!-- <div class="btn-group">
                            <a href="#productModal" data-toggle="modal" class="btn btn-outline-primary btn-lg"><span>Add to cart</span></a>
                            <span class="price price-lg">from $9.98</span>
                        </div> -->
                    </div>
                    <div class="content-inner">
                        <h1>Say Hello to the real egyptian cuisine</h1>
                        <h1>مشويات الدهان الطعم المصري الاصيل</h1>
                        <!--<h5 class="text-muted mb-5">and use it with your next order!</h5>
                        <a href="page-offers.html" class="btn btn-outline-primary btn-lg"><span>Get it now!</span></a>-->
                    </div>
                    <div class="content-inner">
                        <h1>Hot line</h1>
                        <h1>الخط الساخن مشويات الدهان</h1>
                        <h1 class="text-muted mb-5">16194</h1>
                        <a href="@Url.Action("Navigation", "Home")" class="btn btn-outline-primary btn-lg"><span>Order Online</span></a>
                    </div>
                </div>
                <nav class="content-nav">
                    <a class="prev" href="#"><i class="ti-arrow-left"></i></a>
                    <a class="next" href="#"><i class="ti-arrow-right"></i></a>
                </nav>
            </div>
        </div>
    </div>

</section>

<!-- Section - About -->
<section class="section section-bg-edge">

    <div class="image right col-md-6 push-md-6">
        <div class="bg-image"><img src="../../Content/mytemplate/assets/img/photos/bg-food.jpg" alt=""></div>
    </div>

    <div class="container">
        <div class="col-lg-5 col-md-9">
            <!-- <div class="rate mb-5 rate-lg"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i></div> -->
            <h1 class="display-2">Why <strong>El Dahan</strong> Grill?</h1>
            <p class="lead text-muted mb-5">History told of El-Dahan's success since 1890. It was first was named 'El-Akr' & was known for its Eastern cuisine & barbequed meat. Now we have opened new branches in the 5th Settlement, Rehab City & in Merghany. We hope to continue our success through your support & confidence. "Combine tradition & originality".</p>
            <!-- Feature -->
            <div class="feature feature-1">
                <div class="feature-icon icon icon-primary"><i class="ti ti-desktop"></i></div>
                <div class="feature-content">
                    <a href="@Url.Action("Navigation", "Home")"> <h4 class="mb-2">Online Order</h4></a>
                   
                    <p class="text-muted mb-0">Now you can order online from our website.</p>
                    <p class="text-muted mb-0">الان يمكنك الطلب من علي موقع مشويات الدهان</p>
                </div>
            </div>
            <!-- Feature -->
            <div class="feature feature-1">
                <div class="feature-icon icon icon-primary"><i class="ti-mobile"></i></div>
                <div class="feature-content">
                    <h4 class="mb-2">Hot Line   16194</h4>
                    <p class="text-muted mb-0">الان يمكنك الطلب من الخط الساخن لمشويات الدهان</p>

                    <!--<p class="text-muted mb-0">16194</p>-->
                </div>
            </div>
        </div>
    </div>
    @*<button class="btn btn-lg btn-primary showPopUpButton"><span>pop</span></button>*@
</section>
